<%- include("partials/header"); -%>
    <h1 style="text-align: center;">BLOGGERS</h1>
    <section>
        <h2></h2>
        <hr>
        <article>
          <h3>Akarsh Shekhar</h3>
          <img alt="" class="author" src="akarsh_shekhar.jpeg">
          <p> Hi i am Akarsh Shekhar who likes football alot. Have a keen interest in analysing the statistics of matches ans making prediction according to that.Now i am studying at the PESIT with major course in CSE. Hope you enjoy my posts!
            
        </article>
    
        <hr>
        <br>
        <article>
          <h3>Akash Mishra</h3>
          <img alt="" class="author" src="akash_mishra.jpeg">
          <p> Hi i am Akash Mishra who likes jogging or running alot. Now i am studying at the PESIT with major course in CSE. Hope you enjoy my posts!
         
        </article>
        <br>
        <article>
          <h3>Akash Singh</h3>
          <img alt="" class="author" src="aks.jpg">
          <br>
          <p>
          Hi i am Akash Singh a promising young blogger who aspires to become very famous with his posts about cricket! . Analysing cricket from 10 years
          </p>
        </article>
        <hr>
    
        
    
      
        <hr>
      </section>
<%- include("partials/footer"); -%>
